{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Playpen+Sans+Arabic:wght@100..800&family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="head-container">
    <div class="item" id="hot_drink">
        <div class="img-container">
            <img src="{% static 'image/hot drink.png' %}">
        </div>
        <span class="title">
          نوشیدنی گرم
        </span>
    </div>
    <div class="item" id="cold_drink">
        <div class="img-container">
            <img src="{% static 'image/cold drink.png' %}">

        </div>
        <span class="title">
                نوشدنی سرد
              </span>
    </div>
    <div class="item" id="soft_drink">
        <div class="img-container">
            <img src="{% static 'image/soft drink.png' %}">

        </div>
        <span class="title">
                نوشدنی دمی
              </span>
    </div>
    <div class="item" id="cake">
        <div class="img-container">
            <img src="{% static 'image/cacke.png' %}">

        </div>
        <span class="title">
                کیک 
              </span>
    </div>
    <div class="item" id="meal">
        <div class="img-container">
            <img src="{% static 'image/meal.png' %}">

        </div>
        <span class="title">
                غذا
              </span>
    </div>
</div>
<div class="show-items">
    <h1 class="welcome">خوش آمدید</h1>
</div>
{% include 'script.js.html' %}
</body>
</html>